IDI_APPICON ICON "icon.ico"

mui-vlk.frag hlsl "mui-vlk.frag.hlsl"
mui-vlk.vert hlsl "mui-vlk.vert.hlsl"
sokoban.frag hlsl "sokoban.frag.hlsl"
sokoban.vert hlsl "sokoban.vert.hlsl"

atlas  img "atlas.img"
levels txt "levels.txt"

STRINGTABLE
BEGIN
  101 "Casually Casual Warehouse Game"
END
